In [1]:
#Import Required Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Import Data

books=pd.read_csv('Books.csv')
ratings=pd.read_csv('Ratings.csv')
users=pd.read_csv('Users.csv')

In [3]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [4]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [5]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [6]:
print("Shape of the Books : ",books.shape)
print("Shape of the Ratings : ",ratings.shape)
print("Shape of the Users : ",users.shape)

Shape of the Books :  (271360, 8)
Shape of the Ratings :  (1149780, 3)
Shape of the Users :  (278858, 3)

In [7]:
print("Data Type for Books :\n",books.dtypes)
print("\nData Type for Ratings :\n",ratings.dtypes)
print("\nData Type for Users :\n",users.dtypes)

Data Type for Books :
 ISBN                   object
Book-Title             object
Book-Author            object
Year-Of-Publication    object
Publisher              object
Image-URL-S            object
Image-URL-M            object
Image-URL-L            object
dtype: object

Data Type for Ratings :
 User-ID         int64
ISBN           object
Book-Rating     int64
dtype: object

Data Type for Users :
 User-ID       int64
Location     object
Age         float64
dtype: object

In [8]:
books[books.duplicated()]

Empty DataFrame
Columns: [ISBN, Book-Title, Book-Author, Year-Of-Publication, Publisher, Image-URL-S, Image-URL-M, Image-URL-L]
Index: []

In [9]:
ratings[ratings.duplicated()]

Empty DataFrame
Columns: [User-ID, ISBN, Book-Rating]
Index: []

In [10]:
users[users.duplicated()]

Empty DataFrame
Columns: [User-ID, Location, Age]
Index: []

In [16]:
user_rating=pd.merge(users,ratings,on='User-ID')
user_rating.head(2)

   User-ID                   Location   Age        ISBN  Book-Rating
0        2  stockton, california, usa  18.0  0195153448            0
1        7        washington, dc, usa   NaN   034542252            0

In [12]:
user_rating.shape

(1149780, 5)

In [13]:
user_rating.isna().sum()

User-ID             0
Location            0
Age            309492
ISBN                0
Book-Rating         0
dtype: int64

In [15]:
df_inner=pd.merge(user_rating,books,on='ISBN')
df_inner.head(2)

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,2,"stockton, california, usa",18.0,0195153448,0,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,8,"timmins, ontario, canada",NaN,0002005018,5,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [17]:
df_inner.shape

(1031136, 12)

In [18]:
df_inner.isna().sum()

User-ID                     0
Location                    0
Age                    277835
ISBN                        0
Book-Rating                 0
Book-Title                  0
Book-Author                 1
Year-Of-Publication         0
Publisher                   2
Image-URL-S                 0
Image-URL-M                 0
Image-URL-L                 4
dtype: int64

In [19]:
books.isna().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [268]:
df_left=pd.merge(user_rating,books,on='ISBN',how='left')
df_left['ISBN'].tail(5)

1149775    0425163393
1149776    0515087122
1149777    0553275739
1149778    0553578596
1149779    0553579606
Name: ISBN, dtype: object

In [36]:
df_left.shape

(1149780, 12)

In [37]:
df_left.isna().sum()

User-ID                     0
Location                    0
Age                    309492
ISBN                        0
Book-Rating                 0
Book-Title             118644
Book-Author            118645
Year-Of-Publication    118644
Publisher              118646
Image-URL-S            118644
Image-URL-M            118644
Image-URL-L            118648
dtype: int64

In [266]:
missed=df_left[df_left['Book-Title'].isnull()]
missed=missed.reset_index(drop=True)
missed['ISBN'].sort_values().tail(50)

73571      THEALLTRUETRA
98897      THECATASTROPH
74968       THEFLYINGACE
107728      TINACRUZ1001
15020           TM674623
100082     ULLSTEINBUCHN
73689      UNGRANDHOMMED
22487          V16382000
36440         VENAFRO001
86396          VG3862004
33093      WEAREWITNESSE
6832          X000000000
57836         X000000000
9760          X000000000
89976         X113780760
13707         X439361760
56925         X903145730
110716        XXXXXXXXXX
57340         XXXXXXXXXX
21682      XXXXXXXXXXXXX
20978          Y99697115
74969      YOUTELLEM,AND
95562         Z380703475
116088       ZR902CX0093
94892        ZR903CX0003
6833         ZR903CX0003
116089       ZR903CX0003
68482       \0094749809"
1931        \0210000010"
117301      \0432534220"
4377      \0432534220\""
18385     \0432534220\""
86281     \0432534220\""
115455      \0679751521"
4378      \2842053052\""
53719     \2842053052\""
21180     \8804501367\""
91249     \8804520159\""
116776    \8887517452\""
116777    \8888809228\""
97656     \9170010242\""
82240        `3502103682
33128        `3502103682
36965         b00005wz75
46010           cn108465
46012           cn113107
113219        ooo7156103
36005         §423350229
36407        ´3499128624
80583          Ô½crosoft
Name: ISBN, dtype: object

In [267]:
for num in range(len(missed)):
    if not books[books['ISBN'].str.contains(missed['ISBN'][num])].empty:
        print(num,missed['ISBN'][num],books[books['ISBN'].str.contains(missed['ISBN'][num])].iloc[0].at['ISBN'])

110172 038549633 0385496338
110230 006447268 006447268X
110283 006440188 006440188X
110321 671785621 0671785621
110322 67180281X 067180281X
110368 312855257 0312855257
110370 345315758 0345315758
110371 425027066 0425027066
110374 451099648 0451099648
110376 679444815 0679444815
110377 684853507 0684853507
110378 689117353 0689117353
110443 068485216 0684852160
110477 000616659 0006166598
110491 006092998 0060929987
110517 006101351 006101351X
110576 067178653 0671786539
110634 014600017 014600017X
110956 051512608 051512608X
111189 031298382 0312983824
111278 038001782 0380017822
111295 067152609 067152609X
111301 345303075 0345303075
111302 671434004 0671434004
111313 068816317 0688163173
111463 038001002 038001002X
111473 039913206 0399132066
111474 044021355 044021355X
111477 067940229 0679402292
111478 067944122 0679441220
111479 067973604 0679736042
111534 031230503 0312305036
111856 225305764 2253057649
111960 038550120 038550120X
112120 50552490 0505524902
112121 74344426 0743444264
112122 84395048 084395048X
112159 140003136 1400031362

KeyboardInterrupt:

In [222]:
# checked=pd.DataFrame(columns=['Wrong_ISBN','Correct_ISBN'])
# for num in range(len(missed)):
#     if not books[books['ISBN'].str.contains(missed['ISBN'][num])].empty:
#         checked.append([{'Wrong_ISBN':missed['ISBN'][num],'Correct_ISBN':books[books['ISBN'].str.contains(missed['ISBN'][num])].reset_index().iloc[0].at['ISBN']}])

Empty DataFrame
Columns: [Wrong_ISBN, Correct_ISBN]
Index: []

In [48]:
missed['ISBN'].nunique()

70405

In [50]:
books['ISBN'].nunique()

271360

In [51]:
df_inner['ISBN'].nunique()

270151